body {
  font-family: "Open Sans", sans-serif;
  background-color: hsl(257, 40%, 49%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding: 25px;
  margin: 35px;
  margin-top: 0;

  flex: 1 0 auto;
}

#Bg-Desktop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#Header-Logo {
  position: absolute;
  padding: 0;
  margin: 0;
  //top: 20px;
  //left: 20px;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.Main-Content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: auto;

  @media screen and (max-width: 1398px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;

    row-gap: 2rem;
  }
}
.Header-Content {
  @media screen and (min-width: 1399px) {
    text-align: left;
    min-width: 100px;
    margin: 1em;
  }
}

.Header-Illustration {
  //position: absolute;
  //top: 10px;

  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  margin-top: 200px;

  @media screen and (max-width: 600px) {
    margin: 0 200px 0 200px;
  }
}

h1 {
  font-family: "Poppins", "sans-serif";
  font-weight: 800;
  font-size: 45px;
  color: hsl(0, 0%, 100%);
  justify-content: flex-start;
}

p {
  color: white;
  font-size: 20px;
}

button {
  padding: 2rem 1.5rem;
  border-radius: 150px;
  border-style: 1px solid hsl(0, 0%, 100%);
  background-color: white;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 20px 110px;
  transition: 0.3 s;

  @media screen and (max-width: 1400px) {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

button:hover {
  background-color: hsl(300, 69%, 71%);
  color: white;
  cursor: pointer;
}

#btn-name {
  font-size: 25px;
  color: hsl(257, 40%, 49%);
}

.social-icons {
  display: grid;
  grid-template-columns: repeat(3, 40px); // 3 columns, each 40px wide
  gap: 0.5rem; // small gap between icons

  justify-content: flex-end;
  margin-bottom: 2rem;
  margin-top: -15vh;
  height: auto; // Override section height
  align-items: center; // Center icons vertically in grid
  padding: 0;

  @media screen and (max-width: 1400px) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    margin: 0;
    justify-content: center;
  }
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  font-size: 1.2rem;
  transition: background-color 0.2s, color 0.2s;
  text-decoration: none;
}
.social-icons a:hover {
  color: hsl(300, 69%, 71%);
}

picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

picture img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: block;
}
